pipeline/pl_bronze_silver_data_load.json
{
	"name": "pl_bronze_silver_data_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_bronze_silver_control_tab",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM [', pipeline().parameters.plSchemaName,\n        '].[',pipeline().parameters.plTableName,\n        '] WHERE Enabled = ''True''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServer_TablesParam",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": {
								"value": "@pipeline().parameters.plServerName",
								"type": "Expression"
							},
							"pDsDatabaseName": {
								"value": "@pipeline().parameters.plDatabaseName",
								"type": "Expression"
							},
							"pDsSchemaName": {
								"value": "@pipeline().parameters.plSchemaName",
								"type": "Expression"
							},
							"pDsTableName": {
								"value": "@pipeline().parameters.plTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Domain_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_bronze_silver_control_tab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_bronze_silver_control_tab').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook_Domain",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sakshivwagh@gmail.com/Azure_Databricks_Project/bronze_silver_load/nb_bronze_silver_load",
								"baseParameters": {
									"domain": {
										"value": "@item().Domain",
										"type": "Expression"
									},
									"srcCatalog": {
										"value": "@item().SrcCatalog",
										"type": "Expression"
									},
									"srcSchema": {
										"value": "@item().SrcSchema",
										"type": "Expression"
									},
									"srcTableName": {
										"value": "@item().SrcTableName",
										"type": "Expression"
									},
									"tgtCatalog": {
										"value": "@item().TgtCatalog",
										"type": "Expression"
									},
									"tgtSchema": {
										"value": "@item().TgtSchema",
										"type": "Expression"
									},
									"tgtTableName": {
										"value": "@item().TgtTableName",
										"type": "Expression"
									},
									"businessKey": {
										"value": "@item().BusinessKey",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"plServerName": {
				"type": "string",
				"defaultValue": "localhost\\SQLEXPRESS"
			},
			"plDatabaseName": {
				"type": "string",
				"defaultValue": "dev_clintrail_edc_src"
			},
			"plSchemaName": {
				"type": "string",
				"defaultValue": "edcsrcmetadata"
			},
			"plTableName": {
				"type": "string",
				"defaultValue": "srcEdcBronzeToSilverControl"
			}
		},
		"folder": {
			"name": "dev_clintrail/Bronze_Silver_Load"
		},
		"annotations": []
	}
}