pipeline/pl_clintrail_master_orchestration.json
{
	"name": "pl_clintrail_master_orchestration",
	"properties": {
		"activities": [
			{
				"name": "Execute_Pipeline_Clintrail_Master",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_clintrail_master",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_Pipeline_Clintrail_Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-16.centralindia.logic.azure.com:443/workflows/f425dae0133947d885806a8f3f425c7a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=q-ZFCglAfF2zKs0sXemm_L3OpPB3fYFiM0WisS579kw",
					"body": {
						"value": "{\n    \"Status\" : \"Success\",\n    \"PipeLineName\" : \"@{pipeline().Pipeline}\",\n    \"StartTime\" : \"@{pipeline().TriggerTime}\",\n    \"EndTime\" : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute_Pipeline_Clintrail_Master",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-16.centralindia.logic.azure.com:443/workflows/f425dae0133947d885806a8f3f425c7a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=q-ZFCglAfF2zKs0sXemm_L3OpPB3fYFiM0WisS579kw",
					"body": {
						"value": "{\n    \"Status\" : \"Failed\",\n    \"PipeLineName\" : \"@{pipeline().Pipeline}\",\n    \"ErrorMsg\" : \"@{activity('Execute_Pipeline_Clintrail_Master').Error?.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "dev_clintrail/Clintrail_Master_Pipeline"
		},
		"annotations": []
	}
}